include ./../../mixins/_users

.dashboard__info
    .info__card-block.swiper-slide
        article.info__card-stack.info__card--schedule.card--stack
            h4.info__card-title.title Расписание
            p.info__card-week
            p.info__card-main.info__card-time
            p.info__card-sub.info__card-date
            p.info__card-daytime Идет <span>5</span> пара 😟
    .portfolio__container.card--stack
        h2.portfolio__title.title Цифровой профиль
        .portfolio__wrapper
            .portfolio__progress.gauge(data-width="236" data-value="75")
                span.gauge__value
    .classmates__wrapper.card--stack
        h2.classmates__title.title Одногруппники
        .classmates__list.scrollbar-custom
            .classmates__list-wrapper
                +user('Ивко Валентина Петросовна', '23 февраля', 'avatar-1.jpg', 'avatar-1.webp', '#')
                +user('Цепко Харитон Викторович', '24 августа', 'avatar-2.jpg', 'avatar-2.webp', '#')
                +user('Лобкова Ольга Федоровна', '25 мая', 'avatar-3.jpg', 'avatar-3.webp', '#')
                +user('Ивко Валентина Петросовна', '23 февраля', 'avatar-1.jpg', 'avatar-1.webp', '#')
                +user('Цепко Харитон Викторович', '24 августа', 'avatar-2.jpg', 'avatar-2.webp', '#')
                +user('Лобкова Ольга Федоровна', '25 мая', 'avatar-3.jpg', 'avatar-3.webp', '#')

include ./../_announcement
include ./../_services
include ./../_advertisement
.faq__wrapper
    .faq__header
        h3.faq__title.title--large Частые вопросы
        span.divider
        a(href="faq.html").faq__button.btn Все вопросы
    .faq__questions.question
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Когда и как мы начнем учиться?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                p Мы начинаем учебный год 1 сентября согласно утвержденным учебным планам.
                p Все что вам необходимо для получения знаний, будет доступно онлайн в соответствии с расписанием. Лабораторные и практические занятия, требующие физического присутствия на территории университета, поставлены в расписание после 1 ноября.
                p Все внеучебные мероприятия - кружки, конкурсы, секции и прочее,  будут проводится онлайн.
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Как будет обеспечиваться безопасность студентов и сотрудников университета?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Если я поступил на 1 курс РГСУ?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Как будут проходить лабораторные, практические работы и занятия по физической культуре?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Смогу ли я проживать в общежитии?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Если я не заключу договор на общежитие до 1.11.2020, потеряю ли я свое место в общежитии?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Если я студент-иностранец, нужно ли мне по возвращению в Россию проходить самоизоляцию?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Изменится ли плата за обучение?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Как будут работать службы университета?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Как будут проходить лабораторные, практические работы и занятия по физической культуре?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")
        .question__item.accordeon-section
            p.question__item-title.accordeon-title.title--xs Если я студент-иностранец, нужно ли мне по возвращению в Россию проходить самоизоляцию?
                button.question__item-button.accordeon-button
            .question__item-content.accordeon-container
                img(src="https://pelikanprint.ru/storage/431/kond.jpg" "#{var}")

include ./../_news
